html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html, * {
    overflow-x: hidden;
}
.homeText{
  overflow-y: hidden;
}
@font-face {
    font-family: 'EFLight';
    src: url(/assets/EuclidFlexLight.ttf);
}
@font-face {
    font-family: 'EFRegular';
    src: url(assets/EuclidFlexRegular.ttf);
}
@font-face { 
    font-family: 'EFThin';
    src: url(assets/EuclidFlexThin.ttf);
}

header {
    margin:0;
    height: 100vh;
    width: 100vw;
}
.background {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: auto;
}
h2 {
    color:white;
    margin: 0px;
    font-family:'EFThin';
    letter-spacing: 3px;
    word-spacing: 10px;
    font-weight: 700;
    font-size: 14px;
    z-index: 1000000;
}
.topText, .bottomText {
  overflow-y: hidden;
}
/* opaque filter */
.transparent{
    position:absolute;
    background: white;
    width: 100vw;
    height: 100vh;
    z-index:2;
    opacity: 0%;
}

.wideLogo {
    display: inline-flex;
    flex-direction: column;
    z-index: 9999999;
  }
  .logoTopText,
  .logoBottomText {
    font-family: 'ESThin';
  }
  .wideLogoTop,
  .wideLogoBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 9999999;
  }
  
  .logoTopLine {
    width: 58px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    z-index: 1000;
  }
  
  .logoBottomLine {
    width: 62px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    z-index: 1000;
  }
.squareLogo {
    position:relative;
    /* display:flex; */
    display:none; 
    flex-direction: column;
    border:1px solid white;
    width: 100px;
    height: 100px;
    text-decoration: none;
    z-index: 99999999;
}
.squareLogoLink {
    text-decoration: none;
}
.logoBottomText {
    justify-content: right;
}
.half {
    flex-grow: 1;
}
.squareText {
    font-size: 1.4rem;
}

.navWrapper {
    padding-top: 4vh;
    padding-left: 5vw;
    padding-right: 2vw;
    display:flex;
    justify-content: space-between;
}
.hamburgerMenu {
    position:relative;
    display:block;
    width: 50px;
    height: 2px;
    background-color:white;
    margin-bottom: 12px;
    z-index: 9999999;
    height:1px;
    transition: transform 0.3s ease-in-out;
  }
  .hamburger {
    display: block;
    width: auto;
    height: 32px;
    position: fixed;
    top: 2.5rem;
    right: 3rem;
    cursor: pointer;
    z-index: 99999999;
    overflow-y: hidden;
  }
  
.hamburger span:first-child {
    top: 0;
    transform-origin: center;
  }
  
  .hamburger span:last-child {
    top: 0px;
    transform-origin: center;
  }
  
  #hamburger-toggle {
    display: none;
  }
  
  #hamburger-toggle:checked ~ .nav-menu {
    visibility: visible;
    opacity: 1;
  }
  
  #hamburger-toggle:checked ~ .hamburger span:first-child {
    transform: translateY(18px) rotate(45deg);
  }
  
  #hamburger-toggle:checked ~ .hamburger span:last-child {
    transform: translateY(0px) rotate(-45deg);
  }
  #hamburger-toggle {
    display: none;
  }
  
  #hamburger-toggle:checked ~ .nav-menu {
    transform: translateX(0);
  }
  
  #hamburger-toggle:checked + .hamburger span {
    background-color: black;
  }

  #hamburger-toggle:checked ~ .wideLogoTop .logoTopLine,
  #hamburger-toggle:checked ~ .wideLogoBottom .logoBottomLine {
    background-color: black;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100000;
    color:black;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .nav-menu ul li {
    margin-bottom: 20px;
    
  }
  
  .nav-menu ul li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-menu ul li a:hover {
    color: #aaa;
  }
  
  .content {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
  }
  .nav-menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,);
    transition: opacity 0.3s ease-in-out;
    overflow-y: hidden;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .nav-menu ul li {
    margin-bottom: 20px;
    overflow-y: hidden;
  }
  
  .nav-menu ul li a {
    color: black;
    font-size: 24px;
  }
  
  .nav-menu ul li a:hover {
    color: #aaa;
  }
  li {
    color: #000000;
  }
/* div {
    border:1px dotted red; 
} */
.homeText{
    z-index: 10000;
    font-family: "EFRegular";
    color:white;
    font-size: clamp(2rem, 1.2rem + 4vw, 6rem);
    font-weight: 400;
    line-height: 5.5rem;
    width: 10ch;
}
.homeWrapper{
    width: 80%;
    z-index: 10000;
    display:flex;
    padding-left: 12vw;
    padding-top: 16vh;
}
input {
    display:none;
}

nav {
    position:absolute;
}
nav.nav-menu ul li a {

  font-family: "EFThin";
  font-size: 4rem;
  overflow-y: hidden;
  border-bottom: 1px solid black;
}

.section1 {
  background-color: white;
  z-index: 99999;
  width:100vw;
  height:110vh;
}

.blackText {
  color: black;
  z-index: 999999;
}
.blackBorder {
  border:2px solid black;
}
.blackLine {
  background-color: black;
}
div.wideLogo {
  position:fixed;
  height: 100vh;
  display:block;
}
* {
  overflow-x: hidden;
}

.navWrapperMobile{
  display:none;
}
div.menuBtn input label {
  position: relative;
  right:2rem;
  padding-right: 2rem;
}
.underlined {

  width:100%;
  border-bottom: 1px solid black;
}
nav.nav-menu ul li a h3 {
  overflow-y: hidden;
}
h3 {
  font-size: 3rem;
  margin:0;
}
.tabletCross, .tabletVertical, .mobileCross, .mobileVertical {
  display:none;
}
.section1 {
  width: 100vw;
  height: 100vh;
}
.whiteBackdrop {
  z-index: 99999;
  position:absolute;
  width: 100%;
  height: 100%;
}
.navLogos{
  position:fixed;
  z-index: 9999999999;
}
.scrollDiv {
  position:absolute;
  bottom:0;
  width: 100vw;
  display:flex;
  justify-content: center;
}
.scrollText {
  display:none;
  z-index: 999999;
  rotate:90deg;
  font-family: 'EFThin';
  font-weight: 400;
  color:white;
  padding-bottom: 2rem;
  position:relative;
  right:1.2rem;
}
.sideMenu {
  position: absolute;
  display:flex;
  height: 100vh;
  justify-content: center;
  background-color: black;
}
.sideText {
  font-family: "EFThin";
  color: white;
  display:flex;
  position:relative;
  bottom: 50vh;
  left:10%;
  writing-mode: vertical-lr;
  z-index: 100000;
  position: relative;
  text-orientation: sideways;
  rotate: 180deg;
  pointer-events: none;
}

.sideMenuWhite{
  z-index: 999999999;
  position: absolute;
  display:flex;
  height: 100vh;
  justify-content: center;
  background-color: white;
  border-right: 1px solid black;
}
.sideTextBlack{
  font-family: "EFThin";
  color: black;
  display:flex;
  position:relative;
  bottom: 50vh;
  left:10%;
  writing-mode: vertical-lr;
  z-index: 999999999;
  position: relative;
  text-orientation: sideways;
  rotate: 180deg;
  pointer-events: none;
}
.overflowY {
  overflow:hidden;
  height:100%;
}
.notebookList {
  display:flex;
  flex-direction: column;
  text-align: left;
}
.nav-menu ul {
  text-align: left;
  position: relative;
  gap: 3rem;
  width: 100%;
}
.topMenuWrapper {
  display:flex;
  position: absolute;
  width: 100vw;
  justify-content: center;
}
.topMenuText {
  font-family: 'EFRegular';
  font-weight: 700;
}
.menuBackdropWrapper {
  display:flex;
  position: absolute;
  width:100vw;
  height: 100vh;
  justify-content: center;
}
.menuBackdrop {
 font-family: 'EFRegular';
 font-weight: 400;
 font-size: 14rem;
 overflow-y: hidden;
 position: relative;
 top:8rem;
 letter-spacing: 5rem;
 right:4rem;
 color:rgb(238, 238, 238);
 pointer-events: none;
}
.notebookMenuInfo {
  display:flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:20vh;
  
  justify-content: space-around;
}
.menuInfo {
 display:flex;
 flex-direction: column;
 position:relative;
right: 20vw;
 width:auto;
 height:100vh;
}
.menuContact {
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 height: 50vh;
 width: 100%;
 gap: 10vw;
}
.anfrage {
  width: 35ch;
}
.row {
  display:flex;
  flex-direction: column;
  width: 500px;
}
.rowTag {
  display:flex;
  flex-direction: row;
}
.telefonEmail {
  font-family: 'EFThin';
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 5px;
  color:grey;
  overflow-y: hidden;
}
.normalText {
  font-family: 'EFThin';
  font-weight: 700;
  font-size: 1.25rem;
 overflow-y: hidden;

}

.anfrageSenden {
  background-color: white;
  font-family: 'EFRegular';
  font-size: 1.2rem;
  margin-top:2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}







/* mobile cross */
@media (max-width: 900px) {

.mobileCross{
  display:inline;
}
.notebook {
  display:none;
}




}
/* tablet cross */
@media (max-width: 820px) {
  .scrollText{
    display:flex;
  }
 .mobileCross{
  display:none;
 }
 .tabletCross{display:inline
}
  .transparent {
    opacity: 20%;
}
h1{
  font-size: 3rem;
}
.squareLogo {
  position:fixed;
  display:flex; 
  flex-direction: column;
  border:2px solid rgb(255, 255, 255);
  width: 110px;
  height: 120px;
  overflow-y: hidden;
  z-index: 99999999;
}
    .background {
        display:none;
    }
    .navWrapperMobile {
      display:flex;
        padding-top: 5vh;
        padding-left: 5vw;
    }
    header {
        margin:0;
        height: 100vh;
        width: 100vw;
        background-image: url(assets/Titelbild\ mobile.jpg);
    }

    .blackBorder {
      border:2px solid black;
    }
    div.half{
      overflow-y: hidden;
    }
    .bottomHalf {
      padding-bottom: 0px;
      padding-left: 3px;

    }
    .wideLogo{
      display:none;
    }
    .squareText {
      font-size: 1rem;
      letter-spacing: 0.6rem;
      line-height: 16px;
      overflow-y: hidden;
    
    }
    .homeWrapper{
      padding-left:2rem;
      padding-top: 7rem;
    }
    .homeText{
      font-size: 3.5rem;
    }
}
/* tablet vertical */
@media (max-width: 600px) {
   .tabletCross{
    display:none;
   }
   .tabletVertical{
    display:inline;
   }
    .squareLogo {
        position:relative;
        display:flex; 
        flex-direction: column;
        width: 100px;
        height: 110px;
        padding-bottom: 6px;
    }
    .squareText {
      line-height: 17px;
        font-size: 1rem;
        letter-spacing: 0.7rem;
    }

    .homeWrapper{
      padding-top: 6rem;
      padding-left: 1rem;
    }
}
/* mobile vertical */
@media (max-width: 420px) {
  .tabletVertical {
    display:none;
  }
  .mobileVertical{
    display:inline;
  }
  .homeWrapper{
    display:flex;
    padding-top: 6rem;
    padding-left: 1rem;
  }
}